*{
	margin: 0px;
	padding: 0px;
}


body
{
	background-color: #f3f3f3;
}

#wrapper
{
	text-align: center;
	margin: 20px;
}

#container
{
	border: 10px solid black;
	padding: 40px;
	display: inline-block;
}

#header
{
	padding: 10px;
}

#timer
{
	border: 1px solid black;
	padding: 10px;
	margin: 10px;	
}

#mybutton
{
	padding: 10px;
	margin: 10px;	
}